# Python ignores 
__pycache__/
*.py[cod]
*.swp
*.o
**/venv/


# Misc ignores
*.csv
*.key
*.log
*.zip
*.tar.gz
*.tgz
/log
/target


# Java ignores
*.class
*.jar
*.war
**/bin


# Eclipse
.classpath
.project
.settings/
